body{
    background-color: rgb(214, 237, 247);
    color: rgb(21, 18, 18);
    font-family: Arial;
    margin: 0px;
    a { text-decoration: none; }
}
header{
    background-color:rgb(255, 255, 255);
    color: rgb(64, 2, 64) ;
    font-family: arial;
    margin: 0px;
}
footer{
    background-color:rgb(255, 255, 255);
    color: rgb(64, 2, 64) ;
    font-family: arial;
    margin: 0px;
}
a {
    color:green;
    text-decoration: none;
    transition: 1s 2s;
}
a:link {
    color:black;
}
a:visited {
    color:purple;
}
a:hover {
    color:red;
    text-decoration: underline;
    text-shadow: 4px 3px 6px rgba(215, 35, 26, 0.454);
    transition: 0.3s;
}

a:active {
    color:black;
    opacity: 0.3;
}
div.menu {
    border: 7px solid #eca90e;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}
div.menu:hover {
    background-color: #ffffff9e;
    box-shadow: 0 0 20px #ba060630;
}
footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
main{
    margin: 10px 20px 110px;
}