body{
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
    a { text-decoration: none; }
}
header{
    background-color:Snow;
    color: rgb(64, 2, 64) ;
    font-family: arial;
    margin: 0px;
}
footer{
    background-color:Snow;
    color: rgb(64, 2, 64) ;
    font-family: arial;
    margin: 0px;
}

